body{
    width: 411px;
    height: 717px;
    margin: 0;
    background-color: rgb(255, 0, 0);
}
.testpic{
    color: rgb(0, 0, 0);
    background-image: url(../img/cards1.png);
    width: 411px;
    height: 717px;
    background-size: cover;
}