body{
    width: 410px;
    height: 716px;
    margin: 0;
    background-color: rgb(59, 193, 255);
}
.testpic{
    color: rgb(0, 0, 0);
    background-image: url(../img/home.png);
    width: 410px;
    height: 716px;
    background-size: cover;
}